<section class="left-column">
  <div class="shift-right">{{link-to '+' 'label_types.new' tagName="button"}}</div>
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Pitch length
      </th>
      <th>
        Print width
      </th>
      <th>
        Print length
      </th>
      <th>
        Feed value
      </th>
      <th>
        Fine adjustment
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
    {{#each model as |item|}}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.pitchLength}}</td>
        <td>{{item.printWidth}}</td>
        <td>{{item.printLength}}</td>
        <td>{{item.feedValue}}</td>
        <td>{{item.fineAdjustment}}</td>
        <td>
          {{#if item.id}}
            {{link-to 'Edit' 'label_types.edit' item}}
          {{/if}}
        </td>
      </tr>

    {{/each}}
  </table>
</section>

{{outlet 'form'}}

{{outlet 'show'}}
