<form {{action 'submit' on='submit'}}>
  <fieldset>
      <ul>

        <li><button class="close" {{action 'close'}}>x</button></li>

        {{form-field for="name" type='text' model=model}}

        {{form-field for="pitchLength" type='text' model=model}}

        {{form-field for="printWidth" type='text' model=model}}

        {{form-field for="printLength" type='text' model=model}}

        {{form-field for='feedValue' type='text' model=model}}

        {{form-field for='fineAdjustment' type='text' model=model}}
        
        <li>
         <button type="submit">Add</button>
        </li>
      </ul>
  </fieldset>
</form>
