<article>
  <h4>{{model.name}}</h4>
  <div>pitch length: {{model.pitchLength}}</div>
  <div>print width: {{model.printWidth}}</div>
  <div>print length: {{model.printLength}}</div>
  <div>feed value: {{model.feedValue}}</div>
  <div>fine adjustment: {{model.fineAdjustment}}</div>
</article>

{{outlet}}
