<article>
  <ul>
    <li><button class="close" {{action 'close'}}>x</button></li>
    <li><h4>{{model.name}}</h4></li>
    <li><div>pitch length:</div> <div>{{model.pitchLength}}</div></li>
    <li><div>print width:</div> {{model.printWidth}}</li>
    <li><div>print length:</div> <div>{{model.printLength}}</div></li>
    <li><div>feed value:</div> <div>{{model.feedValue}}</div></li>
    <li><div>fine adjustment:</div> <div>{{model.fineAdjustment}}</div></li>
  </ul>
</article>

{{outlet}}
